@import url("https://fonts.cdnfonts.com/css/alliance-no1");

body {
  background-color: #0d1117;
  color: white;
  font-family: "Alliance No.1", sans-serif;
}

h1 {
  font-family: "Alliance No.1", sans-serif;
  font-size: 3em;
  font-weight: bold;
  margin: 0.5em 0;
}
label {
  font-family: "Alliance No.1", sans-serif;
  font-size: 1.2em;
}

input {
  font-family: "Alliance No.1", sans-serif;
  margin-top: 1.2em;
}

.submitbutton:hover,
.submitbutton:focus {
box-shadow: inset -4em 0 0 0 var(--hover), inset 4em 0 0 0 var(--hover);
}

.submitbutton {
--color: #ff7f82;
--hover: #ffdc7f;
}

button {
color: var(--color);
transition: 0.25s;
}
button:hover, button:focus {
border-color: var(--hover);
color: #fff;
}

button {
background: none;
border: 2px solid;
font: inherit;
line-height: 1;
padding: 15px 32px;
text-align: center;
font-size: 16px;
margin-top: 2.4em;
margin-bottom: 2.4em;
}

.w3-wide {
  letter-spacing: 10px;
}
.w3-hover-opacity {
  cursor: pointer;
}

.centermargin {
 margin-left: 12%;
 margin-right: 12%;
}
